/* Travels related css*/

.travel-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    max-width: 900px; 
    margin: 0 auto; 
    padding: 20px;
    justify-content: center;
}

.travel-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.travel-card:hover {
    transform: scale(1.05); 
}

.travel-card h3 {
    color: #007BFF;
    margin-bottom: 5px;
}

.travel-card p {
    color: #555;
    font-size: 14px;
}

.no-travels {
    text-align: center;
    font-style: italic;
    color: red;
}

.delete-button{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover{
    background-color: #0056b3;
}

/* Travels related css*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}

.account-box {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
}

.account-info {
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

.account-actions {
    display: flex;
    flex-direction: column;
}

.action-button, .sign-out-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover, .sign-out-button:hover {
    background-color: #0056b3;
}


/* Add this to your existing Account.css */
.account-actions select {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.account-actions label {
    margin-bottom: 5px;
    font-weight: bold;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    min-height: 10vh;
}

.checkbox-container label {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-container input {
    transform: scale(1.2); /* Makes the checkbox larger */
}
