.error-page {
    text-align: center;
    background-color: #fff;
    top:50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}



.error-page h1 {
    color: #ff0000;
    font-size: 2rem;
    margin-bottom: 10px;
}

.error-page h2 {
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.error-page button.goToSignIn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.error-page button.goToSignIn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.error-page button.goToSignIn:active {
    transform: scale(0.95);
}
